.homeBannerCaption{
    position: absolute;
    width: 7500px;
    top: 25%;
    left: 11.5%;
}
.inspiron{
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
.stylishMod{
    padding-top: 30px;
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 3px;
}
.integratingFont{
    font-style: italic;
    padding-top: 15px;
    font-weight: 500;
    color: #000000;
    font-size: 21px;
    letter-spacing: 2px;
}
.getTheBest{
    padding-top: 20px;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 2px;
}
.toDetailedAnalysisReport{
    width: 400px;
    margin: auto;
}