.bannerCaption{
    position: absolute;
    top: 30%;
    width: 500px !important;
    left: 10%;
    background-color: rgb(6 114 203 / 82%);
    padding: 25px !important;
    border-radius: 5px;
}
.captionHeading{
    font-size: 54px;
    line-height: 64px;
    color: #ffffff;
    font-weight: 700;
}
.captionDescription{
    color: #ffffff;
    padding-top: 15px;
    font-weight: 700;
    line-height: 35px;
}
.webCamBtn{
    margin-top: 20px;
    width: 290px;
}
.captureBtnDiv{
    width: 300px;
    margin: auto;
}
.retakeButtonDiv{
    width: 300px;
    position: absolute;
    top: 70%;
    left: 37%;
}
.capturedImageDiv{
    width: 100%;
    margin-bottom: 10px;
}
.camSettingWrapper label{
    padding-left: 10px;
    font-size: 18px;
    position: relative;
    bottom: 2px;
    font-weight: 500;
    color: #000000;
}
.camSettingWrapper input{
    width: 18px;
    height: 18px;
}
.camSettingWrapper div{
    padding-bottom: 10px;
}
.resetTuneDiv{
    width: 300px;
    margin-top: 20px;
}
.screenSettingsWrapper{
    padding-top: 20px;
}
.screenSettingLabel{
    width: 210px;
    font-size: 18px;
    color: #000000;
}
.screenSettingValue{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}
.screenSettingsDiv{
    display: inline-flex;
}
.form-range{
    width: 300% !important;
}
.captureBtnDiv div{
    margin-bottom: 20px;
}
.resultsDiv{
    padding: 15px;
    border: 2px solid #0672cb;
    margin-top: 15px;
}
.expressionIcon{
    position: relative;
    bottom: 2px;
    padding-right: 10px;
}
.redFont{
    color: red !important;
}
.yellowFont{
    color: #ecd000 !important;
}
.greenFont{
    color: #00c403 !important;
}
.boldFont{
    font-weight: 600 !important;
}
.screenSettingLabelResults {
    width: 270px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.blueFont{
    color: #05a0eb !important;
}
.finaleResultsDiv{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
}
.resultsSpan{
    color: #ecd000 !important;
}
.laptopModel{
    font-weight: 600;
    font-size: 22px;
    text-decoration: underline;
    line-height: 15px;
}
.checkBoxInput{
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}
.laptopSettingsWrapper{
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}
.laptopSettingsOuter{
    margin-bottom: 20px;
}
.screenSizeInputFieldWrap{
    display: inline-flex;
    margin-bottom: 25px;
}
.settingsInputWrapper{
    margin-top: 50px;
}
.resSelectDrop{
    width: 200px;
    height: 40px;
}
.firstRange{
    width: 300px !important;
}
.nextBtnDiv{
    width: 300px;
    margin: auto;
    padding-top: 18px;
}
video{
    width: 100% !important;
}
.capturedUserImageSm{
    width: 50%; 
    margin: auto;
}
.capturedSmallImageUSer{
    width: 100%;
}
.ergoScoreSumDiv{
    text-align: center;
    margin-top: 45px;
}
.sumErgoScoreTitle{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 15px;
}
.sumErgoScore{
    color: #00c403;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 15px;
}
.scoreSumMessage{
    font-weight: 600;
}