.bannerCaption{
    position: absolute;
    top: 30%;
    width: 500px !important;
    left: 10%;
    background-color: rgb(6 114 203 / 82%);
    padding: 25px !important;
    border-radius: 5px;
}
.captionHeading{
    font-size: 54px;
    line-height: 64px;
    color: #ffffff;
    font-weight: 700;
}
.captionDescription{
    color: #ffffff;
    padding-top: 15px;
    font-weight: 700;
    line-height: 35px;
}
.webCamBtn{
    margin-top: 20px;
    width: 290px;
}
.captureBtnDiv{
    width: 300px;
    margin: auto;
}
.retakeButtonDiv{
    width: 300px;
    position: absolute;
    top: 70%;
    left: 37%;
}
.capturedImageDiv{
    min-height: 720px;
}
.camSettingWrapper label{
    padding-left: 10px;
    font-size: 18px;
    position: relative;
    bottom: 2px;
    font-weight: 500;
    color: #000000;
}
.camSettingWrapper input{
    width: 18px;
    height: 18px;
}
.camSettingWrapper div{
    padding-bottom: 10px;
}
.resetTuneDiv{
    width: 300px;
    margin-top: 20px;
}
.screenSettingsWrapper{
    padding-top: 20px;
}
.screenSettingLabel{
    width: 210px;
    font-size: 18px;
    color: #000000;
}
.screenSettingValue{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}
.screenSettingsDiv{
    display: inline-flex;
}
.form-range{
    width: 300% !important;
}
.captureBtnDiv div{
    margin-bottom: 20px;
}